{{define "title"}}Chat with {{.Name}}{{end}}

{{define "styles"}}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .container {
            display: flex;
            justify-content: center;
            max-height: 50%;
            width: 100%;
        }
        .container div {
            border: 1px solid #ccc;
            width: 15%;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
            border-width: 2px;
            border-color: #fff;
        }
        .operations {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .operations form {
            display: flex;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
        }
        input {
            min-width: 50px;
            max-width: 500px;
            height: 25px;
            margin: 0 10px;
            padding: 5px;
            border: 1px solid #fff;
            border-radius: 3px;
        }
        select {
            min-width: 100px;
            max-width: 500px;
            height: 25px;
            margin: 0 10px;
            padding: 5px;
            border: 1px solid #fff;
            border-radius: 3px;
        }
        button {
            height: 35px;
            padding: 0 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        .divider {
            width: 100%;
            border-top: 2px solid #ccc;
            margin: 20px 0;
        }
        .scroll-box {
            padding: 10px;
            max-height: 450px;
            width: 700px;
            overflow-y: scroll;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
        }
        .scroll-box table {
            table-layout: fixed;
        }
        .scroll-box table td {
            word-wrap: break-word;
            width: 200px;
            max-width: 200px;
            text-align: left;
            padding-top: 10px;
        }
        .scroll-box table p {
            margin: 0;
        }

    </style>
{{end}}

{{define "imports"}}
{{end}}

{{define "body"}}
    <div class="chat">
        <p>
            <h1>
                Chat {{.Message}} with {{.Name}}
            </h1>
        </p>

        <div id="scroll-box" class="scroll-box">
            <table>
                {{range $i, $message := .Messages}}
                    <tr id="{{$message.Id}}">
                        {{if eq $message.Author $.User}}
                            <td></td>
                            <td colspan="2" style="text-align: right;">
                        {{else}}
                            <td colspan="2">
                        {{end}}
                                <p style="display: inline-block; text-align: left;">
                                    <b style="color: #e86701;">{{if eq $message.Author $.User}}You:{{else}}{{$message.Author}}{{end}} </b>

                                    {{if eq $message.Type "text"}}
                                        {{$message.Message}}
                                    {{else if eq $message.Type "file"}}
                                        <a href="/getFile/{{$message.Message}}" target="_blank" rel="noopener noreferrer">{{$message.Message}}</a>
                                    {{else if eq $message.Type "image"}}
                                        <img src="/getFile/{{$message.Message}}" style="max-width: 400px; max-height: 200px;" alt="Attached image {{$message.Message}}">
                                    {{else}}
                                        <span style="color: red;">Unsupported message type</style>
                                    {{end}}
                                </p>
                                    
                                {{range $i, $listener := $.Listeners}}
                                    {{if eq (printf "%v.%v" $.Message $message.Id) $listener}}
                                        <p style="font-size: 10px; margin: 0; color: grey;"><span id="progressBar_{{$listener}}">Ok</span></p>
                                    {{end}}
                                {{end}}
                                
                            </td>
                        {{if not (eq $message.Author $.User)}}
                            <td></td>
                        {{end}}
                    </tr>
                {{end}}
            </table>
        </div>

        <form id="sendMessage" method="post">
            <input type="hidden" name="formID" value="sendMessage">
            <p>
                <input name="message" type="text" placeholder="Type your message" style="width: 100%;">
                <button type="submit">Send</button>
            </p>
        </form>

        <form id="sendFile" method="post" enctype="multipart/form-data">
            <input type="hidden" name="formID" value="sendFile">
            <p>
                <input type="file" id="file" name="file" style="width: 66%;">
                <button type="submit">Send File</button>
            </p>
        </form>

        <p>
            <button type="button" onclick="scrollDown()">Scroll to bottom</button>
        </p>
    </div>
{{end}}

{{define "afterbody"}}
<script>
    function scrollDown() {
        const box = document.getElementById('scroll-box');
        box.scrollTop = box.scrollHeight;
    }

    document.addEventListener('DOMContentLoaded', () => {
        scrollDown();
    });

    document.addEventListener('DOMContentLoaded', () => {
        message = "{{.Alert}}"
        if (message != "") {
            alert(message);
        }
    });

    eventSources = new Map();

    {{range $i, $listener := .Listeners}}
        {
            eventSource = new EventSource("/chat/update?name={{$listener}}");

            eventSource.onmessage = function(event) {
                message = ""

                if (event.data === "-1") {
                    message = "Internal error";
                } else if (event.data === "0") {
                    message = "Ok";
                } else if (event.data === "1100") {
                    message = "Encrypted";
                } else if (event.data.startsWith("1")) {
                    message = "Encrypting progress: " + event.data.substring(2) + "%";
                } else if (event.data.startsWith("2100")) {
                    message = "Sent";
                } else if (event.data.startsWith("2")) {
                    message = "Sending progress: " + event.data.substring(2) + "%";
                } else if (event.data.startsWith("3100")) {
                    message = "Uploaded";
                } else if (event.data.startsWith("3")) {
                    message = "Uploading progress: " + event.data.substring(2) + "%";
                }

                document.getElementById("progressBar_{{$listener}}").textContent = message;
            };

            eventSources.set("{{$listener}}", eventSource);
        }
    {{end}}

</script>
{{end}}