{{define "title"}}About{{end}}

{{define "styles"}}
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
</style>
{{end}}

{{define "imports"}}
{{end}}

{{define "body"}}
    <div>
        <p>
            <h1>
                About
            </h1>
        </p>

        <p>
            This is my 4th year university project. It is a secure messenger.
        </p>
        
        <p>
            It implements Diffie-Hellman key exchange protocol, RC6 and MAGENTA ciphers.
        </p>

        <p>
            Coded using Go, HTML, CSS, Golang's templating and JavaScript.
        </p>
    </div>
{{end}}

{{define "afterbody"}}
{{end}}
